<div class="footer">
    <h1>Praese dapib</h1>
    <div class="c">
        <ul>
        <li><a href="#">Magna ultrices</a></li>
        <li><a href="#">Praesent dapibus</a></li>
        <li><a href="#">Accumsan port</a></li>
        <li><a href="#">Lentesque odio</a></li>
        </ul>
    </div>
    <div class="c">
        <ul>
        <li><a href="#">Magna ultrices</a></li>
        <li><a href="#">Praesent dapibus</a></li>
        <li><a href="#">Accumsan port</a></li>
        <li><a href="#">Lentesque odio</a></li>
        </ul>
    </div>
    <div class="c">
        <ul>
        <li><a href="#">Magna ultrices</a></li>
        <li><a href="#">Praesent dapibus</a></li>
        <li><a href="#">Accumsan port</a></li>
        <li><a href="#">Lentesque odio</a></li>
        </ul>
    </div>
    <div class="c">
        <ul>
        <li><a href="#">Magna ultrices</a></li>
        <li><a href="#">Praesent dapibus</a></li>
        <li><a href="#">Accumsan port</a></li>
        <li><a href="#">Lentesque odio</a></li>
        </ul>
    </div>
    <div class="c">
        <ul>
        <li><a href="#">Magna ultrices</a></li>
        <li><a href="#">Praesent dapibus</a></li>
        <li><a href="#">Accumsan port</a></li>
        <li><a href="#">Lentesque odio</a></li>
    </ul>
    </div>
</div>
