.content8{
    width:100%;
    height:450px;
    background-color: white;
}
.content8 h2{
    text-align: center;
    font-size: 30px;
    transform: translateY(50px);
}
input::-webkit-input-placeholder {
  font-size: 20px;
  line-height: 3;
}
.content8 button{
    width:200px;
    height:50px;
    background-color: transparent;
    font-size:20px;
    border:2px solid lightgray;
}
.content8 button:hover{
    background-color: black;
    color:white;
}