<div class="content8">
    <h2>Contact Us</h2>
    <div class="text" style="text-align: center;transform: translateY(100px)">
    <input type="textbox" placeholder="Name" style="width:400px;height:60px;background-color: lightgray">
    <input type="textbox" placeholder="Email" style="width:400px;height:60px;background-color:lightgray">
    <br><br>
    <textarea rows="8"cols="157" style="background-color: lightgrey">Message</textarea>
    <br><br>
    <button>Send Message</button>
    </div>
</div>
