<div class="header">
    <h2>Concentric</h2>
    
    <nav class="nav-bar">
        <ul>
            <li style="background-color: blue"><a href="index.html">Home</a></li>
            <li><a href="span.html">Dropdown</a></li>
            <li><a href="left-sidebar.html">Left Sidebar</a></li>
            <li><a href="right-sidebar.html">Right Sidebar</a></li>
            <li><a href="two-sidebar.html">Two Sidebar</a></li>
            <li><a href="no-sidebar.html">No Sidebar</a></li>
        </ul>
    </nav>
</div>