<div class="content6">
    <h2>Jonec quis duiat dolor</h2>
   <div class="pc">
       <img src="file:///Users/shabrinathreddy/Downloads/px-concentric%202/blue/images/placeholder.png">
       <img src="file:///Users/shabrinathreddy/Downloads/px-concentric%202/blue/images/placeholder.png">
       <img src="file:///Users/shabrinathreddy/Downloads/px-concentric%202/blue/images/placeholder.png">
       <img src="file:///Users/shabrinathreddy/Downloads/px-concentric%202/blue/images/placeholder.png">
       <img src="file:///Users/shabrinathreddy/Downloads/px-concentric%202/blue/images/placeholder.png">
   </div>
     <p>Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia, magna ullaco riper laoreet lectus.</p>
   </div>
