<div class="circle">
    <div class="a">
        <div class="con">
            <i class="fas fa-flag"></i>
        </div>
            <br>
            <h3>Lorem Ipsum</h3>
            <br>
            <p>Praesent dapibus, neque id <br>cursus faucibus, tortor neque<br> egestas augue vulputate.</p>  
    </div>
<div class="a">
    <div class="con">
            <i class="fa fa-user" aria-hidden="true"></i>
    </div>
     <br>
     <h3>Aliqua tincidu</h3>
     <br>
     <p>Praesent dapibus, neque id <br>cursus faucibus, tortor neque<br> egestas augue vulputate.</p>
</div>
<div class="a">
    <div class="con">
            <i class="fas fa-flag"></i>
    </div>
     <br>
     <h3>Vestibul auctor</h3>
     <br>
     <p>Praesent dapibus, neque id <br>cursus faucibus, tortor neque<br> egestas augue vulputate.</p>
</div>
<div class="a">
    <div class="con">
            <i class="fa fa-user" aria-hidden="true"></i>
    </div>
     <br>
     <h3>Cras ornare</h3><br>
     <p>Praesent dapibus, neque id <br>cursus faucibus, tortor neque<br> egestas augue vulputate.</p>
  </div>
</div>
